<div class="container">
  <div class="row">
    <h2>List of all student</h2>
    <hr>

  <div class="col-md-6">
    <% @students.each do |student| %>
    <% if student.admin? %>
      <div class="row">
        <div class="col-md-8">
            <% admin = Student.all.where.not(admin: false) %>

          <p id="<%= student.id %>"><%= student.username %></p>
        </div>
        <div class="col-md-4" style="margin-bottom:20px;">

          <% if student.admin %>
            <% if admin.length == 1 %>
          <%= link_to "Demote", student_path(student.id, admin: false), method: :patch, class: "btn btn-danger disabled" %>
            <% else %>
          <%= link_to "Demote", student_path(student.id, admin: false), method: :patch, class: "btn btn-danger " %>
            <% end %>
          <% else %>
          <%= link_to "Promote", student_path(student.id, admin: true), method: :patch, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
        <% end %>
    <% end %>
  </div>
  <div class="col-md-6">
    <% @students.each do |student| %>
    <% if student.admin == false %>
      <div class="row">
        <div class="col-md-8">
          <p id="<%= student.id %>"><%= student.username %></p>
        </div>
        <div class="col-md-4" style="margin-bottom:20px;">
          <% if student.admin %>
          <%= link_to "Demote", student_path(student.id, admin: false), method: :patch, class: "btn btn-danger" %>
          <% else %>
          <%= link_to "Promote", student_path(student.id, admin: true), method: :patch, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>

  </div>

</div>
